@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: 'Noto Sans HK', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
